html, body {
  background: var(--tg-theme-bg-color, white);
  margin: 0;
}

.no-hover:hover {
  background: unset !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.list-padding {
  padding-bottom: 82px;
}
